.wp-block-editor-blocks-features .no-image {
	padding: 1.5em;
  border-radius: 500px;
  background: #ececec;
  margin-bottom: 1em;
}

.wp-block-editor-blocks-features .feature__image,
.wp-block-editor-blocks-features .feature__heading {
	margin-bottom: 1em;
}
