.wp-block-editor-blocks-testimonial .inner {
	display: inline-block
}

.wp-block-editor-blocks-testimonial .testimonial__text {
	margin: 0 0 15px;
	font-weight: normal
}

.wp-block-editor-blocks-testimonial .testimonial__image {
	margin-bottom: 25px;
	border-radius: 500px;
	max-width: 100px;
	display: inline-block;
	vertical-align: bottom;
}
