.wp-block-editor-blocks-callout:after {
	display: block;
	content: "";
	clear: both;
}

.wp-block-editor-blocks-callout .callout__text {
	padding: 0;
	margin: 0;
	line-height: 2em
}

.wp-block-editor-blocks-callout .callout__button {
	background-color: rgb(188, 13, 13);
	padding: .625em;
	border-radius: 3px;
	color: white;
	display: inline-block;
	text-decoration: none;
	float: right
}

 @media only screen and (max-width: 1040px) {
 	 .wp-block-editor-blocks-callout {
 		padding-left: 5% !important;
 		padding-right: 5% !important;
 	}
 }
