.wp-block-editor-blocks-hero .hero__button {
	background-color: rgb(188, 13, 13);
	padding: .75em 1em;
	border-radius: 3px;
	font-weight: bold;
	color: white;
	display: inline-block;
	text-decoration: none;
	font-size: 1.125em;
}

.wp-block-editor-blocks-hero .hero__button:hover {
	filter: contrast(150%);
}

.wp-block-editor-blocks-hero .hero__heading {
	margin-top: 0;
	font-size: 2em;
}

.wp-block-editor-blocks-hero .hero__text {
	font-size: 1.25em;
}

.wp-block-editor-blocks-hero.left .inner {
	float: none
}
.wp-block-editor-blocks-hero.center .inner {
	margin: 0 auto;
	float: none
}
.wp-block-editor-blocks-hero.right .inner {
	float: right
}
